In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
df = pd.read_csv("D:\coding\Machine-Learning\datasets\Obesity Classification.csv")
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\ASUS\AppData\Local\Temp\ipykernel_24412\517727961.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv("D:\coding\Machine-Learning\datasets\Obesity Classification.csv")

   ID  Age  Gender  Height  Weight   BMI          Label
0   1   25    Male     175      80  25.3  Normal Weight
1   2   30  Female     160      60  22.5  Normal Weight
2   3   35    Male     180      90  27.3     Overweight
3   4   40  Female     150      50  20.0    Underweight
4   5   45    Male     190     100  31.2          Obese

In [10]:
df = df.drop(columns=['ID'])

In [11]:
df.head()

   Age  Gender  Height  Weight   BMI          Label
0   25    Male     175      80  25.3  Normal Weight
1   30  Female     160      60  22.5  Normal Weight
2   35    Male     180      90  27.3     Overweight
3   40  Female     150      50  20.0    Underweight
4   45    Male     190     100  31.2          Obese

In [8]:
df.shape

(5172, 3001)

In [ ]:
class NaiveBayesClassifier:
    def __init__(self, ):